#update-form{
    justify-content: center;
    margin: 20vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form{
        background-color: white;
        box-shadow: 0 0 25px 2px white;
        border-radius: 25px;
        padding: 50px 100px;
        width: 33vw !important;
        margin-left: 33vw;
    }
}