.btn-blue{
    text-align: center;
    background-color: rgb(0, 136, 255);
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 15px 50px;
    font-weight: bold;
    &:hover{
        color: white;
        background-color: rgb(0, 98, 255);

    }
}

.btn-green{
    text-align: center;
    background-color: rgb(0, 255, 162);
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 15px 50px;
    font-weight: bold;
    &:hover{
        color: white;
        background-color: rgb(0, 255, 42);

    }
}

.btn-red{
    text-align: center;
    background-color: rgb(255, 0, 98);
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 15px 50px;
    font-weight: bold;
    &:hover{
        color: white;
        background-color: rgb(255, 0, 0);

    }
}
button{
    border: none;
}

input{
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px 25px;
    border: 1px solid black;
}